.container {
  max-width: 800px;
  margin-inline: auto;
  display: grid;
  justify-content: center;
}

#icon-holder {
  width: 2rem;
}

.moderate {
  background-color: #ffe8aa;
}

.hot {
  background-color: rgb(235, 39, 39);
}

.cold {
  background-color: rgb(27, 27, 170);
}

.loader {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(74, 212, 56);
  display: none;
}
